@model List<SectionViewModel>
@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Shanice - Established ViewCart View. Currently being used to validate data sent to view from link routing. (Work in Progress)-->
<h1>ViewCart Test</h1>
<p>@ViewBag.userid</p>

@ViewBag.AlreadyExistsWarning

@foreach (SectionViewModel s in Model)
{
    @s.Course.Title
    <br />
    <a asp-controller="Cart" asp-action="ViewCart" asp-route-sectionID="@s.Section.ID" asp-route-actionType="remove">
        Remove
    </a>
}

<a asp-controller="Enrolling" asp-action="EnrolledClasses">
    Enroll
</a>