@model List<SectionViewModel>
@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Shanice - Established ViewCart View. Currently being used to validate data sent to view from link routing. (Work in Progress)-->
<h1>ViewCart Test</h1>
<p>@ViewBag.userid</p>


<p>@ViewBag.sectionID</p>


@foreach (SectionViewModel s in Model)
{
    <p>boop</p>
}