@{
    ViewData["Title"] = "Home Page";
}
    <!-- Shanice - Setup main nav page.-->
    <div class="text-center">

        <div>
            <a asp-controller="Catalog" asp-action="Departments"><button class="btn btn-primary">Course Catalog</button></a>
        </div>

        <div>
            <a asp-controller="Schedule" asp-action="Index"><button class="btn btn-primary">View My Schedule</button></a>
        </div>

        <div>
            <a asp-controller="Audit" asp-action="Index"><button class="btn btn-primary">Degree Audit</button></a>
        </div>

        <div>
            <a asp-controller="Cart" asp-action="ViewCart"><button class="btn btn-primary">View Cart</button></a>
        </div>

    </div>
